.textarea-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  color: #333;
}

.learningStarts {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: #fff;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
  font-size: 4em;
  color: lightblue;
  overflow: hidden;
  white-space: nowrap;
  animation: slideIn 2s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0.8;
    font-size: 2em;
    transform: translate(-50%, -50%) translateY(-5em);
  }
  to {
    opacity: 1;
    font-size: 4em;
    transform: translate(-50%, -50%);
  }
}

.backgroundBlur {
  position: fixed;
  z-index: 555;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
}

.learningEnds {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: #fff;
  padding: 10px;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  font-size: 4em;
  color: red;
  overflow: hidden;
  white-space: nowrap;
  animation: slideIn 2s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0.8;
    font-size: 2em;
    transform: translate(-50%, -50%) translateY(-5em);
  }
  to {
    opacity: 1;
    font-size: 4em;
    transform: translate(-50%, -50%);
  }
}

/* Styling for the main countdown container */
.breakCountdownContainer {
  position: fixed;
  top: 50%;
  z-index: 999999;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #3498db;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Styling for the break time display */
.breakTimeDisplay {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Styling for the button container */
.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 25em !important;
  gap: 1em;
}

/* Styling for the buttons */
.buttonContainer button {
  padding: 12px 17px;
  font-size: 18px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.buttonContainer button:hover {
  background-color: #2980b9;
}

.motivation {
  position: fixed;
  z-index: 9999;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 15px;
  color: #fff;
  border-radius: 10px;
  width: 70%;
  font-family: "Arial", sans-serif;
}

.motivationQuote {
  font-size: 3em;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.motivationAuthor {
  font-size: 2em;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Daily tasks */
/* style.css */

#task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #3498db; /* Blue color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
  font-family: "Arial", sans-serif; /* Change the font family */
  color: white; /* Text color */
}

#task-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#task-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#button-container {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #2ecc71;
}

button#save-and-add {
  background-color: #3498db;
}

button#cancel {
  background-color: #e74c3c;
}
