ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
  box-shadow: 0 0 10px grey;
  width: 95%;
  border-radius: 5px;
}

ul > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

ul button {
  background-color: red;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.7;
  transition: all 0.3s;
}

ul button:hover {
  opacity: 1;
}

#notesList li {
  text-align: left;
  padding-right: 0.4em;
  font-size: 1.2em;
}

#notesList div {
  opacity: 0.8;
}

#notesList div:hover {
  cursor: pointer;
  opacity: 1;
}

.textCopy {
  display: none;
  position: fixed;
  background-color: #87b5e3;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
