html {
  width: 25em;
  height: 30em;
  border-radius: 20px;
}

body {
  height: 100%;
  width: auto;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2;
}

.container {
  text-align: center;
}

nav button {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: all 0.3s;
}

nav button:hover {
  background-color: #2980b9;
}

nav button:focus {
  background-color: #2ecc71;
  transform: translateY(0.6em);
}

.sections {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding-left: 1.5em;
}

header h1 {
  margin-left: 2em;
}

nav {
  border: 1px solid white;
  background-color: white;
  width: 95%;
  position: relative;
  height: 4em;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

input {
  border: 1px solid #ccc;
}
