html {
  width: 25em;
  height: 30em;
  border-radius: 20px;
}

body {
  height: 100%;
  width: auto;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  text-align: center;
}

nav button {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: all 0.3s;
}

nav button:hover {
  background-color: #2980b9;
}

nav button:focus {
  background-color: #2ecc71;
  transform: translateY(0.6em);
}
